<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="{{userInfo.avatar ?? null}}" width="50px"
      alt="User Image">
    <div>
      <p class="app-sidebar__user-name"><b>{{userInfo.userName ?? null}}</b></p>
      <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
    </div>
  </div>
  <hr>
  <ul class="app-menu">
    <li><a class="app-menu__item active" routerLink="/admin/dashboard" routerLinkActive="active"><i class='app-menu__icon bx bx-tachometer'></i><span
          class="app-menu__label">Tổng quan</span></a></li>

    <li><a class="app-menu__item" routerLink="/admin/manage-user" routerLinkActive="active"><i class='app-menu__icon bx bx-user-voice'></i><span
          class="app-menu__label">Quản lý khách hàng</span></a></li>
    <li><a class="app-menu__item" routerLink="/admin/manage-product" routerLinkActive="active"><i
          class='app-menu__icon bx bx-purchase-tag-alt'></i><span class="app-menu__label">Quản lý sản phẩm</span></a>
    </li>
    <li><a class="app-menu__item" routerLink="/admin/manage-order" routerLinkActive="active"><i class='app-menu__icon bx bx-task'></i><span
          class="app-menu__label">Quản lý đơn hàng</span></a></li>
    <li><a class="app-menu__item" routerLink="/admin/manage-project" routerLinkActive="active"><i class='app-menu__icon bx bx-run'></i><span
          class="app-menu__label">Quản lý dự án
        </span></a></li>

<!--    <li><a class="app-menu__item"><i-->
<!--          class='app-menu__icon bx bx-pie-chart-alt-2'></i><span class="app-menu__label">Báo cáo doanh thu</span></a>-->
<!--    </li>-->

<!--    <li><a class="app-menu__item" ><i class='app-menu__icon bx bx-cog'></i><span class="app-menu__label">Cài-->
<!--          đặt hệ thống</span></a></li>-->
  </ul>
</aside>
