
<main class="app-content">
  <div class="app-title" style="margin-top: 40px;">
    <ul class="app-breadcrumb breadcrumb side">
      <li class="breadcrumb-item active">
        <a href="#"><b>Tạo khách hàng</b></a>
      </li>
    </ul>
    <div id="clock"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <main class="app-content">
            <div class="app-title">
              <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item">Danh sách nhân viên</li>
                <li class="breadcrumb-item"><a href="#">Thêm nhân viên</a></li>
              </ul>
            </div>
            <div class="row">
              <div class="col-md-12">

                <div class="tile">

                  <h3 class="tile-title">Tạo mới khách hàng</h3>
                  <div class="tile-body">
                    <div class="row element-button">
                      <!-- <div class="col-sm-2">
                         <a class="btn btn-add btn-sm" data-toggle="modal"
                           data-target="#exampleModalCenter"><b><i
                               class="fas fa-folder-plus"></i> Tạo chức vụ mới</b></a>
                       </div>-->

                    </div>
                    <form class="row">
                      <div class="form-group col-md-6">
                        <label class="control-label">Họ và tên</label>
                        <input class="form-control" type="text" required>
                      </div>
                      <div class="form-group col-md-6">
                        <label class="control-label">Địa chỉ email</label>
                        <input class="form-control" type="text" required>
                      </div>

                      <div class="form-group  col-md-6">
                        <label class="control-label">Số điện thoại</label>
                        <input class="form-control" type="number" required>
                      </div>


                      <div class="form-group col-md-6">
                        <label class="control-label">Địa chỉ</label>
                        <input class="form-control" type="text" required>
                      </div>

                      <div class="form-group col-md-12">
                        <label class="control-label">Ảnh khách hàng</label>
                        <div id="myfileupload">
                          <input type="file" id="uploadfile" name="ImageUpload"
                                 onchange="readURL(this);" />
                        </div>
                        <div id="thumbbox">
                          <img height="300" width="300" alt="Thumb image" id="thumbimage"
                               style="display: none" />
                          <a class="removeimg" href="javascript:"></a>
                        </div>
                        <div id="boxchoice">
                          <a href="javascript:" class="Choicefile"><i class='bx bx-upload'></i></a>
                          <p style="clear:both"></p>
                        </div>

                      </div>


                      <button class="btn btn-save" type="button">Lưu lại</button>
                      <button class="btn btn-cancel" (onClick)="onCreateUser()" >Hủy bỏ</button>
                    </form>
                  </div>
                </div>

              </div>
            </div>
          </main>

        </div>
      </div>
    </div>
  </div>
</main>




