
<div class="main-project row">
  <div id="project">
      <div class="project-title row">
          <b class="b"></b>
          <h3>DỰ ÁN</h3>
          <b class="b"></b>
      </div>
      <ul class="nav-project">
          <li><a >Chung cư</a></li>
          <li><a >Nhà ở</a></li>
          <li><a >Showroom</a></li>
          <li><a >Thương mại</a></li>
          <li><a >Văn phòng</a></li>
          <li><a >Công trình khác</a></li>
      </ul>
      <div class="project-img">
          <div class="project-main-img">
              <img src="https://vuthithuydungg01.github.io/noithatgoki1/assets/img/project1.jpg" alt="">
              <div class="project-text">
                  <h5 class="news-sub-title">Anh Vũ – Huyện Bình
                      Chánh</h5>
                  <div class="news-date">22/03/2019</div>
                  <div class="news-divider"></div>
                  <p class="news-sub-text">Chủ đầu tư: Nguyễn Anh
                      Vũ -
                      Địa chỉ: Quận Tân Bình - Diện tích: 8x19m</p>
              </div>
          </div>
          <div class="project-main-img">
              <img src="https://vuthithuydungg01.github.io/noithatgoki1/assets/img/project2.jpg" alt="">
              <div class="project-text">
                  <h5 class="news-sub-title">Anh Vũ – Huyện Bình
                      Chánh</h5>
                  <div class="news-date">22/03/2019</div>
                  <div class="news-divider"></div>
                  <p class="news-sub-text">Chủ đầu tư: Nguyễn Anh
                      Vũ -
                      Địa chỉ: Quận Tân Bình - Diện tích: 8x19m</p>
              </div>
          </div>
          <div class="project-main-img">
              <img src="https://vuthithuydungg01.github.io/noithatgoki1/assets/img/project3.jpg" alt="">
              <div class="project-text">
                  <h5 class="news-sub-title">Anh Vũ – Huyện Bình
                      Chánh</h5>
                  <div class="news-date">22/03/2019</div>
                  <div class="news-divider"></div>
                  <p class="news-sub-text">Chủ đầu tư: Nguyễn Anh
                      Vũ -
                      Địa chỉ: Quận Tân Bình - Diện tích: 8x19m</p>
              </div>
          </div>
      </div>
      <div class="project-img">
          <div class="project-main-img">
              <img src="https://vuthithuydungg01.github.io/noithatgoki1/assets/img/project4.jpg" alt="">
              <div class="project-text">
                  <h5 class="news-sub-title">Anh Vũ – Huyện Bình
                      Chánh</h5>
                  <div class="news-date">22/03/2019</div>
                  <div class="news-divider"></div>
                  <p class="news-sub-text">Chủ đầu tư: Nguyễn Anh
                      Vũ -
                      Địa chỉ: Quận Tân Bình - Diện tích: 8x19m</p>
              </div>
          </div>
          <div class="project-main-img">
              <img src="https://vuthithuydungg01.github.io/noithatgoki1/assets/img/project5.jpg" alt="">
              <div class="project-text">
                  <h5 class="news-sub-title">Anh Vũ – Huyện Bình
                      Chánh</h5>
                  <div class="news-date">22/03/2019</div>
                  <div class="news-divider"></div>
                  <p class="news-sub-text">Chủ đầu tư: Nguyễn Anh
                      Vũ -
                      Địa chỉ: Quận Tân Bình - Diện tích: 8x19m</p>
              </div>
          </div>
          <div class="project-main-img">
              <img src="https://vuthithuydungg01.github.io/noithatgoki1/assets/img/project6.jpg" alt="">
              <div class="project-text">
                  <h5 class="news-sub-title">Anh Vũ – Huyện Bình
                      Chánh</h5>
                  <div class="news-date">22/03/2019</div>
                  <div class="news-divider"></div>
                  <p class="news-sub-text">Chủ đầu tư: Nguyễn Anh
                      Vũ -
                      Địa chỉ: Quận Tân Bình - Diện tích: 8x19m</p>
              </div>
          </div>
      </div>
      <div class="project-img">
          <div class="project-main-img">
              <img src="https://vuthithuydungg01.github.io/noithatgoki1/assets/img/project7.jpg" alt="">
              <div class="project-text">
                  <h5 class="news-sub-title">Anh Vũ – Huyện Bình
                      Chánh</h5>
                  <div class="news-date">22/03/2019</div>
                  <div class="news-divider"></div>
                  <p class="news-sub-text">Chủ đầu tư: Nguyễn Anh
                      Vũ -
                      Địa chỉ: Quận Tân Bình - Diện tích: 8x19m</p>
              </div>
          </div>
          <div class="project-main-img">
              <img src="https://vuthithuydungg01.github.io/noithatgoki1/assets/img/project8.jpg" alt="">
              <div class="project-text">
                  <h5 class="news-sub-title">Anh Vũ – Huyện Bình
                      Chánh</h5>
                  <div class="news-date">22/03/2019</div>
                  <div class="news-divider"></div>
                  <p class="news-sub-text">Chủ đầu tư: Nguyễn Anh
                      Vũ -
                      Địa chỉ: Quận Tân Bình - Diện tích: 8x19m</p>
              </div>
          </div>
          <div class="project-main-img">
              <img src="https://vuthithuydungg01.github.io/noithatgoki1/assets/img/project9.jpg" alt="">
              <div class="project-text">
                  <h5 class="news-sub-title">Anh Vũ – Huyện Bình
                      Chánh</h5>
                  <div class="news-date">22/03/2019</div>
                  <div class="news-divider"></div>
                  <p class="news-sub-text">Chủ đầu tư: Nguyễn Anh
                      Vũ -
                      Địa chỉ: Quận Tân Bình - Diện tích: 8x19m</p>
              </div>
          </div>
      </div>
  </div>
</div>

