
<div class="main-news row">
  <div class="news-col-2">
      <div class="sub-news">
          <img src="../assets/img/news1.jpg" alt="">
          <div class="news-text">
              <h5 class="news-sub-title">Mẫu nhà phố
                  hiện
                  đại
                  đẹp nhất, dự báo “làm mưa làm gió”
                  2019</h5>
              <div class="news-date">22/03/2019</div>
              <div class="news-divider"></div>
              <p class="news-sub-text">Từ quý IV/2019,
                  các
                  công ty thi công thiết kế nhà phố
                  hiện
                  đại,
                  nhà lô phố hiện đại đã tổng kết những mẫu thiết ... </p>
              <button class="news-btn"><a href="./more-news.html">Xem thêm</a></button>
          </div>
      </div>
      <div class="sub-news">
          <img src="../assets/img/news2.jpg" alt="">
          <div class="news-text">
              <h5 class="news-sub-title">Thiết kế nhà
                  phố
                  đẹp
                  – Tạo dựng không gian sống lý tưởng</h5>
              <div class="news-date">12/09/2022</div>
              <div class="news-divider"></div>
              <p class="news-sub-text">Tại Việt Nam,
                  đặc
                  biệt
                  là các khu đô thị, nhà phố rất phổ
                  biến với nhiều diện tích khác nhau. Điểm dễ nhận thấy ...
              </p>
              <button class="news-btn"><a href="./more-news.html">Xem thêm</a></button>
          </div>
      </div>
      <div class="sub-news">
          <img src="../assets/img/news3.jpg" alt="">
          <div class="news-text">
              <h5 class="news-sub-title">20 Mẫu thiết
                  kế
                  nội
                  thất bếp – phòng ăn đẹp sang trọng</h5>
              <div class="news-date">07/12/2021</div>
              <div class="news-divider"></div>
              <p class="news-sub-text">Sở hữu những
                  thiết
                  kế
                  nội thất bếp – phòng ăn đẹp với đa
                  dạng phong cách thiết kế. Morehome đã xây dựng lên các ...</p>
              <button class="news-btn"><a href="./more-news.html">Xem thêm</a></button>
          </div>
      </div>
      <div class="sub-news">
          <img src="../assets/img/news4.jpg" alt="">
          <div class="news-text">
              <h5 class="news-sub-title">99 Cách thiết kế nhà ngày Tết hợp phong thủy</h5>
              <div class="news-date">22/03/2019</div>
              <div class="news-divider"></div>
              <p class="news-sub-text">Bước vào thời điểm cuối năm, mọi người đều bận mải với việc trang trí nội
                  thất. Gia chủ tân trang từng khu vực: thiết ...</p>
              <button class="news-btn"><a href="./more-news.html">Xem thêm</a></button>
          </div>
      </div>
  </div>
  <div class="news-col-1">
      <div class="main-modal-search">
          <div class="modal-search-input">
              <input type="text" placeholder="Tìm kiếm ...">
          </div>
          <div class="modal-search-button">
              <button id="search"><i class="ti-search"></i></button>
          </div>
      </div>
      <h4>TIN MỚI CẬP NHẬT</h4>
      <div class="news-divider"></div>
      <div class="news-update">
          <div class="list-news-update">
              <img src="../assets/img/news1.jpg" alt="">
              <div class="list-news-text">
                  Mẫu nhà phố hiện đại đẹp nhất, dự báo “làm mưa làm gió” 2019
              </div>
          </div>
          <div class="list-news-update">
              <img src="../assets/img/news2.jpg" alt="">
              <div class="list-news-text">
                  Thiết kế nhà phố đẹp – Tạo dựng không gian sống lý tưởng
              </div>
          </div>
          <div class="list-news-update">
              <img src="../assets/img/news3.jpg" alt="">
              <div class="list-news-text">
                  20 Mẫu thiết kế nội thất bếp – phòng ăn đẹp sang trọng
              </div>
          </div>
          <div class="list-news-update">
              <img src="../assets/img/news4.jpg" alt="">
              <div class="list-news-text">
                  99 Cách thiết kế nhà ngày Tết hợp phong thủy
              </div>
          </div>
      </div>
      <h4>DỰ ÁN MỚI</h4>
      <div class="news-divider"></div>
      <div class="new-project">
          <div class="list-news-update">
              <img src="../assets/img/project5.jpg" alt="">
              <div class="list-news-text">
                  Anh Vũ – Huyện Bình Chánh
              </div>
          </div>
          <div class="list-news-update">
              <img src="../assets/img/project9.jpg" alt="">
              <div class="list-news-text">
                  Chị Ngân – Tỉnh Đồng Nai
              </div>
          </div>
          <div class="list-news-update">
              <img src="../assets/img/project4.jpg" alt="">
              <div class="list-news-text">
                  Biệt thự anh Dự – Tỉnh Đồng Nai
              </div>
          </div>
          <div class="list-news-update">
              <img src="../assets/img/project7.jpg" alt="">
              <div class="list-news-text">
                  Căn hộ chị Phương – Tỉnh Cần Thơ
              </div>
          </div>
      </div>
  </div>
</div>

