<div class="modal">
  <div class="modal-container js-modal-container">
    <div class="main-modal">
      <div class="font-bold">ĐĂNG NHẬP</div>
      <form [formGroup]="contactForm" (ngSubmit)="onLogin()" novalidate>
        <div class="sub-modal">
          <label for="email" class="label-name cursor-pointer inline-block"
            >Tên tài khoản hoặc địa chỉ email *</label
          >

          <input
            type="email"
            class="modal-input valid-input block w-full p-2 text-base"
            name="email"
            id="email"
            formControlName="email"
            appHighlight
          />

          <div
            *ngIf="!email?.valid && (email?.dirty || email?.touched)"
            style="color: red"
          >
            <div [hidden]="!email?.errors?.['pattern']">
              Địa chỉ email không hợp lệ!
            </div>
            <div [hidden]="!email?.errors?.['required']">
              Bạn chưa điền địa chỉ email!
            </div>
          </div>
        </div>
        <div class="sub-modal">
          <label for="password" class="label-name cursor-pointer inline-block"
            >Mật khẩu *</label
          >

          <input
            type="password"
            class="modal-input valid-input block w-full p-2 text-base"
            name="password"
            id="password"
            formControlName="password"
          />
          <div
            *ngIf="!password?.valid && (password?.dirty || password?.touched)"
            style="color: red"
          >
            <div [hidden]="!password?.errors?.['required']">
              Bạn chưa điền password!
            </div>
            <div
              [hidden]="!password?.errors?.['minlength']"
            >
              Password tối thiểu 5 ký tự!
            </div>
          </div>
        </div>

        <div class="sub-modal" id="il">
          <button type="submit" [disabled]="!contactForm.valid">
            ĐĂNG NHẬP
          </button>

<!--          <div id="checkbox">-->
<!--            <input type="checkbox" name="" id="" />-->
<!--            <label for="" class="label-name"> Ghi nhớ mật khẩu </label>-->
<!--          </div>-->
        </div>
<!--        <p><a href="">Quên mật khẩu?</a></p>-->
      </form>
    </div>

    <div class="main-modal">
      <div class="font-bold">ĐĂNG KÝ</div>
      <form [formGroup]="contactForm" (ngSubmit)="onSignUp()" novalidate>
        <div class="sub-modal">
          <label for="email" class="label-name cursor-pointer inline-block"
            >Tên tài khoản hoặc địa chỉ email *</label
          >

          <input
            type="email"
            class="modal-input valid-input block w-full p-2 text-base"
            name="email"
            id="email"
            formControlName="email"
            appHighlight
          />

          <div
            *ngIf="!email?.valid && (email?.dirty || email?.touched)"
            style="color: red"
          >
            <div [hidden]="!email?.errors?.['pattern']">
              Địa chỉ email không hợp lệ!
            </div>
            <div [hidden]="!email?.errors?.['required']">
              Bạn chưa điền địa chỉ email!
            </div>
          </div>
        </div>
        <div class="sub-modal">
          <label for="password" class="label-name cursor-pointer inline-block"
            >Mật khẩu *</label
          >

          <input
            type="password"
            class="modal-input valid-input block w-full p-2 text-base"
            name="password"
            id="password"
            formControlName="password"
          />
          <div
            *ngIf="!password?.valid && (password?.dirty || password?.touched)"
            style="color: red"
          >
            <div [hidden]="!password?.errors?.['required']">
              Bạn chưa điền password!
            </div>
            <div
              [hidden]="!password?.errors?.['minlength']"
            >
              Password tối thiểu 5 ký tự!
            </div>
          </div>
        </div>

        <div class="sub-modal" id="il">
          <button type="submit" [disabled]="!contactForm.valid">ĐĂNG KÝ</button>
        </div>
      </form>
    </div>
  </div>
</div>
