
<div class="relative w-full">
  <div id="header1">
    <div
      class="main-header1 row m-auto  justify-between text-xs font-normal px-4"
    >
      <div id="support">
        <p>
          <a href="tel:19009999"><i class="ti-mobile"></i>HOTLINE: 1900 9999</a>
        </p>
        <p>
          <a href="mailto:vuthithuydungg01@gmail.com"
            ><i class="ti-email"></i>vuthithuydungg01@gmail.com</a
          >
        </p>
      </div>
      <div id="signin">
        <p>
          <a
            (click)="onLogin()"
            routerLink="/login"
            routerLinkActive="active"
            class="js-sign-in"
            >Đăng nhập/Đăng ký</a
          >
        </p>
        <p>
          <a href="/index.html" class="js-sign-in"
            >Đăng xuất</a
          >
        </p>
      </div>
    </div>
  </div>

  <div id="header2">
    <div class="main-header2 row">
      <a href="#"
        ><img src="./assets/img/logo1.png" alt="logo" class="logo-img"
      /></a>

      <ul id="nav">
        <li><a href="#">Trang chủ</a></li>
        <li><a href="#about">Giới thiệu</a></li>
        <li>
          <a routerLink="/product" routerLinkActive="active"
            >Sản phẩm <i class="ti-angle-down"></i
          ></a>
          <!-- <ul class="subnav-product">
                      <li><a
                              href="./more-product/more-product.html">Phòng
                              khách</a></li>
                      <li><a
                              href="./more-product/more-product.html">Phòng
                              ngủ</a></li>
                      <li><a
                              href="./more-product/more-product.html">Tủ
                              bếp</a></li>
                      <li><a
                              href="./more-product/more-product.html">Văn
                              phòng</a></li>
                      <li><a
                              href="./more-product/more-product.html">Đồ
                              trang trí</a></li>
                  </ul> -->
        </li>
        <li><a href="#project">Dự án</a></li>
        <li>
          <a href="#service">Dịch vụ <i class="ti-angle-down"></i></a>
          <ul class="subnav-service">
            <li><a href="#pd1">Nội thất căn hộ</a></li>
            <li><a href="#pd2">Nội thất văn phòng</a></li>
            <li><a href="#pd3">Nội thất cửa hàng</a></li>
          </ul>
        </li>
        <li><a href="#news">Tin tức</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Liên hệ</a></li>
        <li>
          <a class="js-search"><i class="ti-search"></i></a>
        </li>
        <li>
          <a class="cart" routerLink="/shopping-cart" routerLinkActive="active"
            ><i class="ti-shopping-cart"></i
          ></a>
        </li>
      </ul>
    </div>
    <div class="nav-bars-tablet">
      <a href="#" class="js-menu"><i class="ti-menu"></i>MENU</a>
    </div>
    <div class="nav-bars-mobile">
      <a href="#" class="js-menu"><i class="ti-menu"></i></a>
    </div>
    <div class="nav-tablet js-nav-tablet">
      <div class="nav-tablet-container js-nav-tablet-container">
        <ul class="nav-sidebar">
          <li>
            <div class="main-modal-search">
              <div class="modal-search-input">
                <input type="text" placeholder="Tìm kiếm ..." />
              </div>
              <div class="modal-search-button">
                <button id="search"><i class="ti-search"></i></button>
              </div>
            </div>
          </li>

          <li><a href="#">Trang chủ</a></li>
          <li>
            <a routerLink="/about" routerLinkActive="active">Giới thiệu</a>
          </li>
          <li>
            <a routerLink="/product" routerLinkActive="active"
              >Sản phẩm <i class="ti-angle-down"></i
            ></a>
            <!-- <ul class="subnav-product">
                          <li><a
                                  href="./more-product/more-product.html">Phòng
                                  khách</a></li>
                          <li><a
                                  href="./more-product/more-product.html">Phòng
                                  ngủ</a></li>
                          <li><a
                                  href="./more-product/more-product.html">Tủ
                                  bếp</a></li>
                          <li><a
                                  href="./more-product/more-product.html">Văn
                                  phòng</a></li>
                          <li><a
                                  href="./more-product/more-product.html">Đồ
                                  trang trí</a></li>
                      </ul> -->
          </li>
          <li><a href="#project">Dự án</a></li>
          <li>
            <a href="#service">Dịch vụ <i class="ti-angle-down"></i></a>
            <ul class="subnav-service">
              <li><a href="#pd1">Nội thất căn hộ</a></li>
              <li><a href="#pd2">Nội thất văn phòng</a></li>
              <li><a href="#pd3">Nội thất cửa hàng</a></li>
            </ul>
          </li>
          <li><a href="#news">Tin tức</a></li>
          <li>
            <a routerLink="/contact" routerLinkActive="active">Liên hệ</a>
          </li>
          <li>
            <div class="footer-social">
              <a href="https://www.facebook.com/noithatgoki26/"
                ><i class="ti-facebook"></i
              ></a>
              <a href="https://www.instagram.com/_vuthuydungg_/"
                ><i class="ti-instagram"></i
              ></a>
              <a href="#"><i class="ti-twitter-alt"></i></a>
              <a
                href="https://www.youtube.com/channel/UCHsYPSIbmbQ1-Oi2ttwi-Gg/featured"
                ><i class="ti-youtube"></i
              ></a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
