<main class="app-content">
  <div class="app-title" style="margin-top: 40px;">
    <ul class="app-breadcrumb breadcrumb side">
      <li class="breadcrumb-item active">
        <a href="#"><b>Danh sách khách hàng</b></a>
      </li>
    </ul>
    <div id="clock"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">

          <div class="row element-button">
            <!--<div class="col-sm-2">

              <button class="btn btn-add btn-sm" onclick="onCreateUser()" routerLink="create-user" routerLinkActive="active"
                      title="Thêm"><i class="fas fa-plus"></i>
                Tạo mới khách hàng
              </button>
            </div>-->
            <!-- <div class="col-sm-2">
              <a class="btn btn-delete btn-sm nhap-tu-file" type="button" title="Nhập" onclick="myFunction(this)"><i
                  class="fas fa-file-upload"></i> Tải từ file</a>
            </div>
            <div class="col-sm-2">
              <a class="btn btn-delete btn-sm print-file" type="button" title="In" onclick="myApp.printTable()"><i
                  class="fas fa-print"></i> In dữ liệu</a>
            </div>
            <div class="col-sm-2">
              <a class="btn btn-delete btn-sm print-file js-textareacopybtn" type="button" title="Sao chép"><i
                  class="fas fa-copy"></i> Sao chép</a>
            </div>

            <div class="col-sm-2">
              <a class="btn btn-excel btn-sm" href="" title="In"><i class="fas fa-file-excel"></i> Xuất Excel</a>
            </div>
            <div class="col-sm-2">
              <a class="btn btn-delete btn-sm pdf-file" type="button" title="In" onclick="myFunction(this)"><i
                  class="fas fa-file-pdf"></i> Xuất PDF</a>
            </div> -->
            <!--<div class="col-sm-2">
              <button class="btn btn-delete btn-sm" type="button" title="Xóa" (click)="onDelete()">
                <i class="fas fa-trash-alt"></i> Xóa tất cả
              </button>
            </div>-->
          </div>
          <table class="table table-hover table-bordered js-copytextarea" cellpadding="0" cellspacing="0" border="0"
                 id="sampleTable">
            <thead>
            <tr>
              <th>ID khách hàng</th>
              <th width="150">Họ tên</th>
              <!--    <th width="20">Ảnh</th>-->
              <th width="300">Email</th>
              <th>SĐT</th>
              <th>Địa chỉ</th>
              <th width="100">Tính năng</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of listUser">
              <td>{{user.id}}</td>
              <td>{{user.userName}}</td>
              <!--    <td><img class="img-card-person" src="{{user.avatar}}" alt=""></td>-->
              <td>{{user.email}}</td>
              <td>{{user.phoneNumber}}</td>
              <td>{{user.address}}</td>

              <td class="table-td-center">
                <button  mat-raised-button class="btn btn-primary btn-sm trash mr-1" type="button" title="Xóa"
                         (click)="onDelete(user)"><i class="fas fa-trash-alt"></i>
                </button>
                <!-- <button class="btn btn-primary btn-sm edit" type="button" title="Sửa" (click)="onEdit(user)" id="show-emp"
                         data-toggle="modal" data-target="#ModalUP"><i class="fas fa-edit"></i>
                 </button>-->
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>


