<app-header></app-header>
<div class="main-contact row">
  <div class="fb-icon">
      <a href="https://www.facebook.com/noithatgoki26/"><i
              class="ti-facebook"></i></a>
  </div>
  <div class="contact-text">
      <div class="contact-text-h3">
          <h3>GOKI INTERIOR DECOR</h3>
      </div>
  </div>
  <div class="sub-about">
      <div class="about-text">
          <div class="about-text-h3">
              <h3>CƠ SỞ 1</h3>
          </div>
          <p>Address: Ngõ 86 P. Duy Tân, Dịch Vọng Hậu, Cầu Giấy, Hà
              Nội</p>
          <p>Hotline/Zalo: 1900 9999</p>
          <p>Email: vuthithuydungg01@gmail.com</p>
      </div>
      <div class="about-map">
          <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29789.41945928875!2d105.72602206786458!3d21.045588953296914!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313455aefc315d85%3A0x4cb002803fb15c3f!2zQ8O0bmcgVHkgQ-G7lSBQaOG6p24gR29raSBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1654145684804!5m2!1svi!2s"
              width="520" height="300" style="border:0;"
              allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
  </div>
  <div class="sub-about">
      <div class="about-map">
          <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29786.609227472753!2d105.6699961423874!3d21.059631797493125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454313aac6f5d%3A0xb07e6e47ae251908!2zQ8O0bmcgVHkgQ-G7lSBQaOG6p24gR29raSBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1655720166942!5m2!1svi!2s"
              width="520" height="300" style="border:0;"
              allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="about-text">
          <div class="about-text-h3">
              <h3>CƠ SỞ 2</h3>
          </div>
          <p>Address: 6 Đ. Cổng Đậu, Lưu Xá, Hoài Đức, Hà Nội, Việt
              Nam</p>
          <p>Hotline/Zalo: 1900 9999</p>
          <p>Email: vuthithuydungg01@gmail.com</p>
      </div>

  </div>
</div>
<app-footer></app-footer>
