

.main-product-details {
    display: flex;
    padding: 30px 0;
}
.nav-img {
    flex: 1;
    padding: 0 10px 20px;
    cursor: grab;
    margin: 0 -2px;
}
.nav-img img {
    width: 103%;
    margin-left: 1px;
    padding: 0 0 15px;
}
.nav-img img:last-child {
    margin-top: -6px;
}
.main-img {
    flex: 5.8;
    padding: 0 10px 20px;
    position: relative;
}
.main-img img {
    width: 100%;
    height: 363px;
}
.main-img .badge-container {
    width: 58px;
    height: 58px;
    font-size: 1.3em;
    line-height: 50px;
}
.product-details-info {
    flex: 5;
    padding: 0 10px 20px;
}
.product-breadcrumb h4 {
    margin-left: 5px;
}
.product-details-info h1 {
    margin-bottom: 13.6px;
}
.product-details-info .product-short-description {
    margin: 20.8px 0;
}
.product-contact a {
    text-decoration: none;
    color: black;
}
.product-contact a:hover {
    opacity: 0.7;
}
.product-contact p:last-child {
    font-size: 0.8em;
    display: block;
    border-top: 1px dotted #ddd;
    padding: 5px 0;
}

.product-details-text {
    padding: 0 10px 20px;
}
.product-tab {
    display: flex;
}
.product-tab li {
    display: inline-block;
    list-style: none;
    margin: 0 0.1em;
    margin-bottom: 6px;
    margin-left: 0 !important;
    transition: background-color .3s;
}
.product-tab li a{
    font-size: .8em;
    color: rgba(17,17,17,0.85);
    background-color: #fff;
    font-weight: 700;
    text-decoration: none;
    border-top-color: #000000;
    border-top: 2px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    letter-spacing: .02em;
    text-transform: uppercase;
    padding: 10px 15px;
    transition: all .2s;
}
.tab-panels {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 30px;
}
.tab-panels p {

}
.similar-product {  
    padding: 0 10px 20px;
}
.similar-product h3 {
    border-top: 1px solid #ececec;
    padding: 15px 0;
    margin-bottom: 0.5em;
    line-height: 1.2;
    letter-spacing: .05em;
    text-transform: uppercase;
}