
<div class="main-about row">
  <div class="content-about">
      <div class="sub-about">
          <div class="about-img">
              <img src="../../../assets/img/about1.1.jpg" alt="congtynoithat">
          </div>
          <div class="about-text">
              <div class="about-text-h3">
                  <h3>Về chúng tôi</h3>
              </div>
              <p>Nội thất GoKi là một trong những công ty hàng đầu về
                  thiết kế và xây dựng nội thất. Với sự tận tâm, kinh
                  nghiệm, nhiệt huyết và sáng tạo, đội ngũ GoKi tự
                  tin mang đến cho khách hàng những phong cách nội
                  thất thẩm mỹ, nâng cao giá trị của ngôi nhà của bạn.
                  Với chúng tôi, bạn chắc chắn sẽ hài lòng với không gian sống của bạn.</p>
          </div>
      </div>
      <div class="about-section">
          <div class="why-choose-us">
              <div class="feedback-title pd-42">
                  <b class="b"></b>
                  <h3>TẠI SAO CHỌN CHÚNG TÔI</h3>
                  <b class="b"></b>
              </div>
              <div class="main-why-choose-us">
                  <div class="col-3">
                      <img src="../../../assets/img/about1.2.jpg" alt="">
                      <h3>Linh hoạt trong thiết kế nội thất</h3>
                      <p>Sáng tạo, sáng tạo và không ngừng sáng tạo chính là cách chúng tôi chinh phục những khách hàng khó tính của mình.</p>
                  </div>
                  <div class="col-3">
                      <img src="../../../assets/img/about1.3.jpg" alt="">
                      <h3>Tối đa hóa công năng</h3>
                      <p>Với kinh nghiệm thiết kế, thi công hàng trăm căn hộ, chúng tôi am hiểu các tiêu chuẩn thiết kế dành riêng cho các gia đình Việt.</p>
                  </div>
                  <div class="col-3">
                      <img src="../../../assets/img/about1.4.jpg" alt="">
                      <h3>Phát triển bền vững</h3>
                      <p>Định hướng phát triển bền vững, lấy uy tín làm gốc, xây dựng bộ máy vững mạnh.</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="about-section">
          <div class="feedback">
              <div class="feedback-title pd-42">
                  <b class="b"></b>
                  <h3>ĐÁNH GIÁ KHÁCH HÀNG</h3>
                  <b class="b"></b>
              </div>
              <div class="main-feedback col">
                  <div class="col-3">
                      <div class="sub-feedback">
                          <img src="../assets/img/feedback1.jpg" alt="">
                          <div class="feedback-text">
                              <div class="feedback-star">
                                  <i class="ti-star"></i>
                                  <i class="ti-star"></i>
                                  <i class="ti-star"></i>
                                  <i class="ti-star"></i>
                                  <i class="ti-star"></i>
                              </div>
                              <p class="feedback-sub-text"><i>Sản phẩm của công ty nội thất này thật sự ấn tượng. Chất lượng xây dựng và thiết kế độc đáo tạo nên một bộ sưu tập đa dạng, từ sofa đến bàn ăn, đều phản ánh sự tinh tế và tận tâm của họ trong từng sản phẩm.
                                     </i></p>
                              <div class="feedback-name"><b>Mark Smith</b>
                                  /
                                  Envato Inc.</div>
                          </div>
                      </div>
                  </div>
                  <div class="col-3">
                      <div class="sub-feedback">
                          <img src="../assets/img/feedback2.jpg" alt="">
                          <div class="feedback-text">
                              <div class="feedback-star">
                                  <i class="ti-star"></i>
                                  <i class="ti-star"></i>
                                  <i class="ti-star"></i>
                                  <i class="ti-star"></i>
                                  <i class="ti-star"></i>
                              </div>
                              <p class="feedback-sub-text"><i>Công ty nội thất này thể hiện cam kết của mình đối với sự thoải mái và thẩm mỹ. Mọi sản phẩm đều sử dụng chất liệu cao cấp và thiết kế tiện nghi, đem lại sự hài lòng cho cả khách hàng khó tính nhất.</i></p>
                              <div class="feedback-name"><b>Vera
                                      Duncan</b>
                                  /
                                  Paypal Inc.</div>
                          </div>
                      </div>
                  </div>
                  <div class="col-3">
                      <div class="sub-feedback">
                          <img src="../assets/img/feedback3.jpg" alt="">
                          <div class="feedback-text">
                              <div class="feedback-star">
                                  <i class="ti-star"></i>
                                  <i class="ti-star"></i>
                                  <i class="ti-star"></i>
                                  <i class="ti-star"></i>
                                  <i class="ti-star"></i>
                              </div>
                              <p class="feedback-sub-text"><i>Sản phẩm nội thất của công ty này không chỉ đẹp mắt mà còn phản ánh tầm nhìn và sự sáng tạo của họ. Đây là sự lựa chọn tuyệt vời để biến không gian sống của bạn thành một nơi thật đặc biệt và ấn tượng.</i></p>
                              <div class="feedback-name"><b>Bryce
                                      Vaughn</b>
                                  /
                                  Unbounce Inc.</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>

