
<div class="slider">

</div>

<div class="content">
    <div id="about" class="row">
        <div class="sub-about pd-42">
            <div class="about-text">
                <div class="about-text-h3"><h3>Về chúng tôi</h3></div>
                <p>Nội thất GoKi là một trong những công ty hàng đầu về
                    thiết
                    kế và xây dựng nội thất. Với sự tận tâm, kinh
                    nghiệm, nhiệt huyết và sáng tạo, đội ngũ
                  GoKi tự
                    tin mang đến cho khách hàng những phong cách nội
                    thất thẩm mỹ, nâng cao giá trị của ngôi nhà của
                    bạn.
                    Với chúng tôi, bạn chắc chắn sẽ hài lòng với
                    không
                    gian sống của bạn.</p>
                <button class="btn"><a routerLink="/about" routerLinkActive="active">Xem
                        thêm <i
                            class="ti-angle-right"></i></a></button>
            </div>
            <div class="about-img">
                <img src="./assets/img/about1.jpg"
                    alt="congtynoithat">
            </div>
        </div>
        <div class="pd-42">
            <div class="sub-about">
                <div class="about-img">
                    <img src="./assets/img/about3.jpg"
                        alt="vangomfc">
                </div>
                <div class="about-text">
                    <p>1. Ván gỗ MFC ( Ván dăm)
                        <br>
                        MFC là viết tắt của Melamine faced chipboard
                        Bề mặt phủ Melamin
                        <br>
                        Phân loại: Ván gỗ MFC thường và MFC chống
                        ẩm.
                        <br>
                        Ứng dụng: chủ yếu làm đồ nội thất văn phòng,
                        nội
                        thất nhà ở nếu như bạn ít khả năng chi trả
                        cho
                        các
                        dòng sản phẩm nội thất và cần cần tiết giảm
                        để
                        đầu
                        tư cho các công việc khác thì MFC là một lựa
                        chọn
                        khá phù hợp.</p>
                </div>
            </div>
            <div class="sub-about">
                <div class="about-text">
                    <p>2. Ván gỗ MDF
                        <br>
                        MDF là viết tắt của chữ Medium density
                        fiberboard
                        Bề mặt phủ Melamin
                        <br>
                        Tính chất: Bề mặt cốt khá mịn nên sử dụng
                        được
                        nhiều
                        loại bề mặt khác nhau đáp ứng được mọi nhu
                        cầu
                        của
                        khách hàng (sơn, melamin, lamilate, acrylic,
                        veneer).
                        <br>
                        Phân loại: MDF thường và MDF chống ẩm.
                        <br>
                        Ứng dụng: Dùng cho nội thất nhà ở, văn
                        phòng, là
                        loại cốt tầm khá đang được ưa chuộng hiện
                        nay
                        bởi
                        công năng đem lại và giá cả phải chăng.</p>
                </div>
                <div class="about-img">
                    <img src="./assets/img/about4.jpg"
                        alt="vangomdf">
                </div>
            </div>
        </div>
    </div>
    <div class="process">
        <div class="row">
            <div class="process-title row">
                <b class="b"></b>
                <h3>QUY TRÌNH LÀM VIỆC</h3>
                <b class="b"></b>
            </div>
            <div class="main-process row">
                <div class="sub-process">
                    <img src="./assets/img/process1.png" alt="">
                    <div class="process-text">
                        Khảo sát hiện trạng, báo giá chi phí thiết
                        kế
                    </div>
                </div>
                <div class="sub-process">
                    <img src="./assets/img/process2.png" alt="">
                    <div class="process-text">
                        Ký hợp đồng, tạm ứng thiết kế
                    </div>
                </div>
                <div class="sub-process">
                    <img src="./assets/img/process3.png" alt="">
                    <div class="process-text">
                        Lên phương án thiết kế công năng 3D
                    </div>
                </div>
                <div class="sub-process">
                    <img src="./assets/img/process4.png" alt="">
                    <div class="process-text">
                        Triển khai bản vẽ chi tiết, thi công, báo
                        giá
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="project">
        <div class="project-title row">
            <b class="b"></b>
            <h3>DỰ ÁN ĐÃ THỰC HIỆN</h3>
            <b class="b"></b>
        </div>
        <ul class="nav-project">
            <li><a href="">Chung cư</a></li>
            <li><a href="">Nhà ở</a></li>
            <li><a href="">Showroom</a></li>
            <li><a href="">Thương mại</a></li>
            <li><a href="">Văn phòng</a></li>
            <li><a href="">Công trình khác</a></li>
        </ul>
        <div class="project-img">
            <div class="project-main-img">
                <img src="https://vuthithuydungg01.github.io/noithatgoki1/assets/img/project1.jpg" alt="">
                <div class="project-text">
                    <h5 class="news-sub-title">Anh Vũ – Huyện Bình
                        Chánh</h5>
                    <div class="news-date">22/03/2019</div>
                    <div class="news-divider"></div>
                    <p class="news-sub-text">Chủ đầu tư: Nguyễn Anh
                        Vũ -
                        Địa chỉ: Quận Tân Bình - Diện tích: 8x19m</p>
                </div>
            </div>
            <div class="project-main-img">
                <img src="https://vuthithuydungg01.github.io/noithatgoki1/assets/img/project2.jpg" alt="">
                <div class="project-text">
                    <h5 class="news-sub-title">Anh Vũ – Huyện Bình
                        Chánh</h5>
                    <div class="news-date">22/03/2019</div>
                    <div class="news-divider"></div>
                    <p class="news-sub-text">Chủ đầu tư: Nguyễn Anh
                        Vũ -
                        Địa chỉ: Quận Tân Bình - Diện tích: 8x19m</p>
                </div>
            </div>
            <div class="project-main-img">
                <img src="https://vuthithuydungg01.github.io/noithatgoki1/assets/img/project3.jpg" alt="">
                <div class="project-text">
                    <h5 class="news-sub-title">Anh Vũ – Huyện Bình
                        Chánh</h5>
                    <div class="news-date">22/03/2019</div>
                    <div class="news-divider"></div>
                    <p class="news-sub-text">Chủ đầu tư: Nguyễn Anh
                        Vũ -
                        Địa chỉ: Quận Tân Bình - Diện tích: 8x19m</p>
                </div>
            </div>
            <div class="project-main-img">
                <img src="https://vuthithuydungg01.github.io/noithatgoki1/assets/img/project4.jpg" alt="">
                <div class="project-text">
                    <h5 class="news-sub-title">Anh Vũ – Huyện Bình
                        Chánh</h5>
                    <div class="news-date">22/03/2019</div>
                    <div class="news-divider"></div>
                    <p class="news-sub-text">Chủ đầu tư: Nguyễn Anh
                        Vũ -
                        Địa chỉ: Quận Tân Bình - Diện tích: 8x19m</p>
                </div>
            </div>
            <div class="project-main-img">
                <img src="https://vuthithuydungg01.github.io/noithatgoki1/assets/img/project5.jpg" alt="">
                <div class="project-text">
                    <h5 class="news-sub-title">Anh Vũ – Huyện Bình
                        Chánh</h5>
                    <div class="news-date">22/03/2019</div>
                    <div class="news-divider"></div>
                    <p class="news-sub-text">Chủ đầu tư: Nguyễn Anh
                        Vũ -
                        Địa chỉ: Quận Tân Bình - Diện tích: 8x19m</p>
                </div>
            </div>
            <div class="project-main-img">
                <img src="https://vuthithuydungg01.github.io/noithatgoki1/assets/img/project6.jpg" alt="">
                <div class="project-text">
                    <h5 class="news-sub-title">Anh Vũ – Huyện Bình
                        Chánh</h5>
                    <div class="news-date">22/03/2019</div>
                    <div class="news-divider"></div>
                    <p class="news-sub-text">Chủ đầu tư: Nguyễn Anh
                        Vũ -
                        Địa chỉ: Quận Tân Bình - Diện tích: 8x19m</p>
                </div>
            </div>
            <div class="project-main-img">
                <img src="https://vuthithuydungg01.github.io/noithatgoki1/assets/img/project7.jpg" alt="">
                <div class="project-text">
                    <h5 class="news-sub-title">Anh Vũ – Huyện Bình
                        Chánh</h5>
                    <div class="news-date">22/03/2019</div>
                    <div class="news-divider"></div>
                    <p class="news-sub-text">Chủ đầu tư: Nguyễn Anh
                        Vũ -
                        Địa chỉ: Quận Tân Bình - Diện tích: 8x19m</p>
                </div>
            </div>
            <div class="project-main-img">
                <img src="https://vuthithuydungg01.github.io/noithatgoki1/assets/img/project8.jpg" alt="">
                <div class="project-text">
                    <h5 class="news-sub-title">Anh Vũ – Huyện Bình
                        Chánh</h5>
                    <div class="news-date">22/03/2019</div>
                    <div class="news-divider"></div>
                    <p class="news-sub-text">Chủ đầu tư: Nguyễn Anh
                        Vũ -
                        Địa chỉ: Quận Tân Bình - Diện tích: 8x19m</p>
                </div>
            </div>
        </div>
        <div class="project-btn">
            <button class="btn"><a routerLink="/project" routerLinkActive="active">Xem
                    thêm dự án <i
                        class="ti-angle-right"></i></a></button>
        </div>
    </div>
    <div id="service">
        <div class="row">
            <div class="service-title pd-42">
                <b class="b"></b>
                <h3>DỊCH VỤ CỦA CHÚNG TÔI</h3>
                <b class="b"></b>
            </div>
            <div class="main-service col">
                <div id="pd1" class="sub-service col-3">
                    <div class="sub-service-img">
                        <img src="./assets/img/service1.jpg" alt="">
                    </div>
                    <div class="service-divider"></div>
                    <h5 class="service-text">Nội thất căn hộ</h5>
                </div>
                <div id="pd2" class="sub-service col-3">
                    <div class="sub-service-img">
                        <img src="./assets/img/service2.jpg" alt="">
                    </div>
                    <div class="service-divider"></div>
                    <h5 class="service-text">Nội thất cửa hàng</h5>
                </div>
                <div id="pd3" class="sub-service col-3">
                    <div class="sub-service-img">
                        <img src="./assets/img/service3.jpg" alt="">
                    </div>
                    <div class="service-divider"></div>
                    <h5 class="service-text">Nội thất văn phòng</h5>
                </div>
            </div>
        </div>
    </div>
    <div id="news">
        <div class="row">
            <div class="news-title pd-42">
                <b class="b"></b>
                <h3>TIN TỨC</h3>
                <b class="b"></b>
            </div>
            <div class="main-news col">
                <div class="col-3">
                    <div class="sub-news">
                        <img src="https://vuthithuydungg01.github.io/noithatgoki1/assets/img/news1.jpg" alt="">
                        <div class="news-text">
                            <h5 class="news-sub-title">Mẫu nhà phố
                                hiện
                                đại
                                đẹp nhất, dự báo “làm mưa làm gió”
                                2019</h5>
                            <div class="news-date">22/03/2019</div>
                            <div class="news-divider"></div>
                            <p class="news-sub-text">Từ quý IV/2019,
                                các
                                công ty thi công thiết kế nhà phố
                                hiện
                                đại,
                                nhà ... </p>
                            <div class="news-more"><a
                                    routerLink="/news" routerLinkActive="active">XEM
                                    THÊM</a><div
                                    class="news-more-divider"></div></div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="sub-news">
                        <img src="https://vuthithuydungg01.github.io/noithatgoki1/assets/img/news2.jpg" alt="">
                        <div class="news-text">
                            <h5 class="news-sub-title">Thiết kế nhà
                                phố
                                đẹp
                                – Tạo dựng không gian sống lý tưởng</h5>
                            <div class="news-date">12/09/2022</div>
                            <div class="news-divider"></div>
                            <p class="news-sub-text">Tại Việt Nam,
                                đặc
                                biệt
                                là các khu đô thị, nhà phố rất phổ
                                biến
                                ...
                            </p>
                            <div class="news-more"><a
                                    routerLink="/news" routerLinkActive="active">XEM
                                    THÊM</a><div
                                    class="news-more-divider"></div></div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="sub-news">
                        <img src="https://vuthithuydungg01.github.io/noithatgoki1/assets/img/news3.jpg" alt="">
                        <div class="news-text">
                            <h5 class="news-sub-title">20 Mẫu thiết
                                kế
                                nội
                                thất bếp – phòng ăn đẹp sang trọng</h5>
                            <div class="news-date">07/12/2021</div>
                            <div class="news-divider"></div>
                            <p class="news-sub-text">Sở hữu những
                                thiết
                                kế
                                nội thất bếp – phòng ăn đẹp với đa
                                dạng
                                ...</p>
                            <div class="news-more"><a
                                    routerLink="/news" routerLinkActive="active">XEM
                                    THÊM</a><div
                                    class="news-more-divider"></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="feedback">
        <div class="row">
            <div class="feedback-title pd-42">
                <b class="b"></b>
                <h3>ĐÁNH GIÁ KHÁCH HÀNG</h3>
                <b class="b"></b>
            </div>
            <div class="main-feedback col">
                <div class="col-3">
                    <div class="sub-feedback">
                        <img src="./assets/img/feedback1.jpg"
                            alt="">
                        <div class="feedback-text">
                            <div class="feedback-star">
                                <i class="ti-star"></i>
                                <i class="ti-star"></i>
                                <i class="ti-star"></i>
                                <i class="ti-star"></i>
                                <i class="ti-star"></i>
                            </div>
                            <p class="feedback-sub-text"><i>Sản phẩm của công ty nội thất này thật sự ấn tượng. Chất lượng xây dựng và thiết kế độc đáo tạo nên một bộ sưu tập đa dạng, từ sofa đến bàn ăn, đều phản ánh sự tinh tế và tận tâm của họ trong từng sản phẩm.</i></p>
                            <div class="feedback-name"><b>Ngọc Lan</b>
                                /
                                Sotatek.</div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="sub-feedback">
                        <img src="./assets/img/feedback2.jpg"
                            alt="">
                        <div class="feedback-text">
                            <div class="feedback-star">
                                <i class="ti-star"></i>
                                <i class="ti-star"></i>
                                <i class="ti-star"></i>
                                <i class="ti-star"></i>
                                <i class="ti-star"></i>
                            </div>
                            <p class="feedback-sub-text"><i>Công ty nội thất này thực hiện được cam kết của mình đối với sự thẩm mỹ của sản phẩm. Mọi sản phẩm đều sử dụng chất liệu cao cấp, thiết kế tiện nghi, đem lại sự hài lòng cho cả khách hàng khó tính nhất.</i></p>
                            <div class="feedback-name"><b>Thanh Hương</b>
                                /
                                FPT Software.</div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="sub-feedback">
                        <img src="./assets/img/feedback3.jpg"
                            alt="">
                        <div class="feedback-text">
                            <div class="feedback-star">
                                <i class="ti-star"></i>
                                <i class="ti-star"></i>
                                <i class="ti-star"></i>
                                <i class="ti-star"></i>
                                <i class="ti-star"></i>
                            </div>
                            <p class="feedback-sub-text"><i>Sản phẩm nội thất của công ty này không chỉ đẹp mắt mà còn phản ánh tầm nhìn và sự sáng tạo của họ. Đây là sự lựa chọn tuyệt vời để biến không gian sống của bạn thành một nơi thật đặc biệt và ấn tượng.</i></p>
                            <div class="feedback-name"><b>Đàm Linh</b>
                                /
                                CMC Global.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

